html,
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #d85ed8fe 0%,  #FDD5B1 100%);
}


.main-header {
    /*background-image: url('https://static.beyondlive.com/contents/5a397f8acce2479c990d3dbaae85fc8f.jpg');
    background-image: url('https://i.ibb.co/0B211YW/Capture.png');
    background-size: cover; /* Cover the entire element with the background image */
    /*background-position: center calc(49% - 200px);*/
    padding-bottom: 20px;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 13em;
    font-family: "Sans-Serif";
    font-weight: normal;
    color: rgb(0, 0, 0);
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    position:relative;
    width: 300px;
    border: 1px solid #030303;
    border-radius: 5px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    transition: opacity 5s ease; 
    
}

.card-content {
    padding: 20px;
    font-family: "Verdana";
    color: #777;
}

.card-content h2 {
    margin-top: 0;
    font-size: 1em;
    color:#1b1818;
}

.card img {
    width: 100%;
    height: auto;
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* End with opacity 1 */
    }
  }

.bullet-points
{
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    width:300px;
    height:301px;
    background: rgba(241, 189, 154, 0.9); /*Apricot*/
    text-align: center;
    z-index: 1;
    display: none;
    padding: 0px;
    color: rgba(255, 0, 255, 1);/*Magenta*/
    font-size: 1.5em;
    animation: fadeIn 0.8s ease;


}

.card:hover .bullet-points
{
    display:block;
    opacity:1;

}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
}

.sorting-tools
{
    display:flex;
    justify-content: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
    color: white;
    height:30px

}

button {
    text-align: center;
    background-color: #666;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
}
